<tr>
  <td><%= link_to message.user.username, user_path(message.user) %></td>
  <td><%= link_to message.title, user_message_path(message.inbox.user, message) %></td>
  <td><%= time_ago_in_words(message.created_at) %> ago</td>
  <td><%= link_to "Delete", user_message_path(message.inbox.user, message), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } , class: "btn btn-primary btn-sm"%></td>
</tr>